@page "/Attendance/Attendance2EmployeeRefSchemeClass/Details/{id}"
@using em_wtm.ViewModel.Attendance.Attendance2EmployeeRefSchemeClassVMs;
@inherits BasePage

<ValidateForm @ref="vform" Model="@Model" >
    <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.Normal">

            <Display @bind-Value="@Model.Entity.ID"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.UserId" Lookup="@AllFrameworkUsers"  ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.EmployeeId"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.ClassId" Lookup="@AllAttendance2SchemeClasss"  ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.EffDate"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.PeriodNo"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.ExpDate"   ShowLabel="true"/>
            <Display @bind-Value="@Model.Entity.EmployeeName"   ShowLabel="true"/>
    </Row>
    <div class="modal-footer table-modal-footer">
        <Button Color="Color.Primary" Icon="fa fa-save" Text="@WtmBlazor.Localizer["Sys.Close"]" OnClick="OnClose" />
    </div>
</ValidateForm>

@code {

    private Attendance2EmployeeRefSchemeClassVM Model = null;
    private ValidateForm vform { get; set; }
    [Parameter]
    public string id { get; set; }

    private List<SelectedItem> AllFrameworkUsers = new List<SelectedItem>();

    private List<SelectedItem> AllAttendance2SchemeClasss = new List<SelectedItem>();


    protected override async Task OnInitializedAsync()
    {

        AllFrameworkUsers = await WtmBlazor.Api.CallItemsApi("/api/Attendance2EmployeeRefSchemeClass/GetFrameworkUsers", placeholder: WtmBlazor.Localizer["Sys.All"]);

        AllAttendance2SchemeClasss = await WtmBlazor.Api.CallItemsApi("/api/Attendance2EmployeeRefSchemeClass/GetAttendance2SchemeClasss", placeholder: WtmBlazor.Localizer["Sys.All"]);

        var rv = await WtmBlazor.Api.CallAPI<Attendance2EmployeeRefSchemeClassVM>($"/api/Attendance2EmployeeRefSchemeClass/{id}");
        Model = rv.Data;
    }

    public void OnClose()
    {
        CloseDialog();
    }

}
