@page "/Report/ReportScriptParam/Create"
@using em_wtm.ViewModel.Report.ReportScriptParamVMs;
@inherits BasePage

<ValidateForm @ref="vform" Model="@Model" OnValidSubmit="@Submit">
    <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.Inline">
        <Select @bind-Value="@Model.Entity.ReportID" IsDisabled="@isDisabledReport" DisplayText="报表" Items="@AllReportMains" PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]"/>
        <Select @bind-Value="@Model.Entity.ScriptID" IsDisabled="@isDisabledScript" DisplayText="脚本" Items="@AllReportScripts" PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]" />
        <BootstrapInput @bind-Value="@Model.Entity.Name"  />
        <BootstrapInput @bind-Value="@Model.Entity.Field"  />
        <BootstrapInput @bind-Value="@Model.Entity.Description"  />
        <Select @bind-Value="@Model.Entity.ParamOperatorID" Items="@AllReportParamOperatorEnums" PlaceHolder="@WtmBlazor.Localizer["Sys.PleaseSelect"]"/>
        <BootstrapInput @bind-Value="@Model.Entity.DefaultValue"  />
    </Row>
    <div class="modal-footer table-modal-footer">
        <Button Color="Color.Secondary" Icon="fa fa-close" Text="@WtmBlazor.Localizer["Sys.Close"]" OnClick="OnClose" />
        <Button Color="Color.Primary" ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="@WtmBlazor.Localizer["Sys.Create"]" IsAsync="true" />
    </div>
</ValidateForm>

@code {
    [Parameter]
    public int ReportID { get; set; } = -1;
    [Parameter]
    public int ScriptID { get; set; } = -1;

    private ReportScriptParamVM Model = new ReportScriptParamVM();
    private ValidateForm vform { get; set; }

    private List<SelectedItem> AllReportMains = new List<SelectedItem>();

    private List<SelectedItem> AllReportScripts = new List<SelectedItem>();

    private List<SelectedItem> AllReportParamOperatorEnums = new List<SelectedItem>();
    private bool isDisabledReport = false;
    private bool isDisabledScript = false;

    protected override async Task OnInitializedAsync() {

        AllReportMains = await WtmBlazor.Api.CallItemsApi("/api/ReportScriptParam/GetReportMains", placeholder: WtmBlazor.Localizer["Sys.PleaseSelect"]);

        AllReportScripts = await WtmBlazor.Api.CallItemsApi("/api/ReportScriptParam/GetReportScripts/?ReportID="+ReportID.ToString(), placeholder: WtmBlazor.Localizer["Sys.PleaseSelect"]);

        AllReportParamOperatorEnums = await WtmBlazor.Api.CallItemsApi("/api/ReportScriptParam/GetReportParamOperatorEnums", placeholder: WtmBlazor.Localizer["Sys.PleaseSelect"]);

        await base.OnInitializedAsync();
        ReportScriptParamVM vm = (ReportScriptParamVM)vform.Model;
        if (ReportID > 0) {
        isDisabledReport = ReportID > 0;
            vm.Entity.ReportID = ReportID;
        }
        if (ScriptID > 0) {
        isDisabledScript = ScriptID > 0;
            vm.Entity.ScriptID = ScriptID;
        }
    }


    private async Task Submit(EditContext context)
    {
        await PostsForm(vform, "/api/ReportScriptParam/add", (s) => "Sys.OprationSuccess");
    }

    public void OnClose()
    {
        CloseDialog();
    }

}
